<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>eCommerce</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<link rel="stylesheet" href="/public/css/main-styles.css" />
</head>

<body>
	<div class="nav">
		<div class="nav-top">
			<a class="nav-elem" href="/">
				<p class="nav-elem-text">Home</p>
				<svg class="nav-elem-svg" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve">
					<g>
						<polygon class="st0"
							points="434.162,293.382 434.162,493.862 308.321,493.862 308.321,368.583 203.682,368.583 203.682,493.862 77.841,493.862 77.841,293.382 256.002,153.862 ">
						</polygon>
						<polygon class="st0"
							points="0,242.682 256,38.93 512,242.682 482.21,285.764 256,105.722 29.79,285.764 ">
						</polygon>
						<polygon class="st0" points="439.853,18.138 439.853,148.538 376.573,98.138 376.573,18.138 ">
						</polygon>
					</g>
				</svg>
			</a>
			<a class="nav-elem" href="/browse">
				<p class="nav-elem-text">Browse</p>
				<svg class="nav-elem-svg" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve">

					<path class="st0"
						d="M33.394,458.311h242.247V318.635h116.323v139.676h86.642V222.61H33.394V458.311z M120.69,318.635h69.838 v69.838H120.69V318.635z">
					</path>
					<path class="st0"
						d="M310.836,368.565c-5.877,0-10.64,4.77-10.64,10.644v35.46c0,5.873,4.764,10.636,10.64,10.636 c5.874,0,10.637-4.763,10.637-10.636v-35.46C321.473,373.335,316.71,368.565,310.836,368.565z">
					</path>
					<polygon class="st0" points="230.104,53.689 158.593,53.689 143.977,196.421 226.22,196.421 ">
					</polygon>
					<polygon class="st0" points="368.026,196.421 353.408,53.689 281.896,53.689 285.781,196.421 ">
					</polygon>
					<polygon class="st0" points="512,196.421 478.606,53.689 405.207,53.689 427.591,196.421 ">
					</polygon>
					<polygon class="st0" points="106.794,53.689 33.394,53.689 0,196.421 84.409,196.421 ">
					</polygon>
				</svg>
			</a>
			<a class="nav-elem" href="/bundles">
				<p class="nav-elem-text">Bundles</p>
				<svg class="nav-elem-svg" viewBox="0 0 36 36" version="1.1" preserveAspectRatio="xMidYMid meet"
					xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<path class="clr-i-solid clr-i-solid-path-1"
						d="M32.43,8.35l-13-6.21a1,1,0,0,0-.87,0l-15,7.24a1,1,0,0,0-.57.9V26.83a1,1,0,0,0,.6.92l13,6.19a1,1,0,0,0,.87,0l15-7.24a1,1,0,0,0,.57-.9V9.25A1,1,0,0,0,32.43,8.35ZM19,4.15,29.93,9.37l-5.05,2.44L14.21,6.46ZM17,15.64,6,10.41l5.9-2.85L22.6,12.91Zm1,15.8V17.36l13-6.29v14.1Z">
					</path>
					<rect x="0" y="0" width="36" height="36" fill-opacity="0"></rect>
				</svg>
			</a>
		</div>
		<div class="nav-bot">
			{{#if key}}
			<a class="nav-elem" href="/admin">
				<p class="nav-elem-text">Admin</p>
				<svg class="nav-elem-svg" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve">
					<g id="SVGRepo_iconCarrier">
						<g>
							<path class="st0"
								d="M496,293.984c9.031-0.703,16-8.25,16-17.297v-41.375c0-9.063-6.969-16.594-16-17.313l-54.828-4.281 c-3.484-0.266-6.484-2.453-7.828-5.688l-18.031-43.516c-1.344-3.219-0.781-6.906,1.5-9.547l35.75-41.813 c5.875-6.891,5.5-17.141-0.922-23.547l-29.25-29.25c-6.406-6.406-16.672-6.813-23.547-0.922l-41.813,35.75 c-2.641,2.266-6.344,2.844-9.547,1.516l-43.531-18.047c-3.219-1.328-5.422-4.375-5.703-7.828l-4.266-54.813 C293.281,6.969,285.75,0,276.688,0h-41.375c-9.063,0-16.594,6.969-17.297,16.016l-4.281,54.813c-0.266,3.469-2.469,6.5-5.688,7.828 l-43.531,18.047c-3.219,1.328-6.906,0.75-9.563-1.516l-41.797-35.75c-6.875-5.891-17.125-5.484-23.547,0.922l-29.25,29.25 c-6.406,6.406-6.797,16.656-0.922,23.547l35.75,41.813c2.25,2.641,2.844,6.328,1.5,9.547l-18.031,43.516 c-1.313,3.234-4.359,5.422-7.813,5.688L16,218c-9.031,0.719-16,8.25-16,17.313v41.359c0,9.063,6.969,16.609,16,17.313l54.844,4.266 c3.453,0.281,6.5,2.484,7.813,5.703l18.031,43.516c1.344,3.219,0.75,6.922-1.5,9.563l-35.75,41.813 c-5.875,6.875-5.484,17.125,0.922,23.547l29.25,29.25c6.422,6.406,16.672,6.797,23.547,0.906l41.797-35.75 c2.656-2.25,6.344-2.844,9.563-1.5l43.531,18.031c3.219,1.344,5.422,4.359,5.688,7.844l4.281,54.813 c0.703,9.031,8.234,16.016,17.297,16.016h41.375c9.063,0,16.594-6.984,17.297-16.016l4.266-54.813 c0.281-3.484,2.484-6.5,5.703-7.844l43.531-18.031c3.203-1.344,6.922-0.75,9.547,1.5l41.813,35.75 c6.875,5.891,17.141,5.5,23.547-0.906l29.25-29.25c6.422-6.422,6.797-16.672,0.922-23.547l-35.75-41.813 c-2.25-2.641-2.844-6.344-1.5-9.563l18.031-43.516c1.344-3.219,4.344-5.422,7.828-5.703L496,293.984z M256,342.516 c-23.109,0-44.844-9-61.188-25.328c-16.344-16.359-25.344-38.078-25.344-61.203c0-23.109,9-44.844,25.344-61.172 c16.344-16.359,38.078-25.344,61.188-25.344c23.125,0,44.844,8.984,61.188,25.344c16.344,16.328,25.344,38.063,25.344,61.172 c0,23.125-9,44.844-25.344,61.203C300.844,333.516,279.125,342.516,256,342.516z">
							</path>
						</g>
					</g>
				</svg>
			</a>
			{{/if}}
			<div id="checkout-elem" class="nav-elem">
				{{#if cartExist}}
				<div id="nav-elem-checkout">
					<h2 class="cart-card-head">Your Cart</h2>
					<div id="cart-card-items">
						{{#each cartItems}}
						<div class="cart-card">
							<img class="cart-card-img" src="{{img}}" alt="{{name}}" />
							<h2 class="cart-card-name">
								{{name}}
							</h2>
							<div class="cart-card-price">
								<p id="cart-price-{{_id}}">${{price}} x {{quantity}}</p>
								<div>
									<a id="dec-{{_id}}" class="cart-card-button">-</a>
									<a id="inc-{{_id}}" class="cart-card-button">+</a>
								</div>
							</div>
							{{#if isBundle}}
							<script>
								document.getElementById("inc-{{_id}}").addEventListener("click", (event) => {
									event.preventDefault()
									$.ajax({
										url: "/bundles/addToCart/{{_id}}",
										method: "POST",
										credential: "same-origin",
										success: (data) => {
											try {
												document.getElementById("cart-price-{{_id}}").innerHTML = `${{price}} x ${data.quantity}`
												document.getElementById("cart-card-total").innerHTML = `Total: $${data.cartTotal}`
											} catch (e) {
												console.log(e)
											}
										},
										error: (obj, err, errT) => {
											console.log("Error: ", obj.responseText);
										},
                                	})
								})

								document.getElementById("dec-{{_id}}").addEventListener("click", (event) => {
									event.preventDefault()
									$.ajax({
										url: "/bundles/removeFromCart/{{_id}}",
										method: "POST",
										credential: "same-origin",
										success: (data) => {
											try {
												if(data.quantity <= 0){
													refresh2()
												}
												else{
													document.getElementById("cart-price-{{_id}}").innerHTML = `${{price}} x ${data.quantity}`
													document.getElementById("cart-card-total").innerHTML = `Total: $${data.cartTotal}`
												}
											} catch (e) {
												console.log(e)
											}
										},
										error: (obj, err, errT) => {
											console.log("Error: ", obj.responseText);
										},
                                	})
								})
							</script>
							{{else}}
							<script>
								document.getElementById("inc-{{_id}}").addEventListener("click", (event) => {
									event.preventDefault()
									$.ajax({
										url: "/items/addToCart/{{_id}}",
										method: "POST",
										credential: "same-origin",
										success: (data) => {
											try {
												document.getElementById("cart-price-{{_id}}").innerHTML = `${{price}} x ${data.quantity}`
												document.getElementById("cart-card-total").innerHTML = `Total: $${data.cartTotal}`
											} catch (e) {
												console.log(e)
											}
										},
										error: (obj, err, errT) => {
											console.log("Error: ", obj.responseText);
										},
                                	})
								})

								document.getElementById("dec-{{_id}}").addEventListener("click", (event) => {
									event.preventDefault()
									$.ajax({
										url: "/items/removeFromCart/{{_id}}",
										method: "POST",
										credential: "same-origin",
										success: (data) => {
											try {
												if(data.quantity <= 0){
													refresh2()
												}
												else{
													document.getElementById("cart-price-{{_id}}").innerHTML = `${{price}} x ${data.quantity}`
													document.getElementById("cart-card-total").innerHTML = `Total: $${data.cartTotal}`
												}
											} catch (e) {
												console.log(e)
											}
										},
										error: (obj, err, errT) => {
											console.log("Error: ", obj.responseText);
										},
                                	})
								})
							</script>
							{{/if}}
						</div>
						{{/each}}
					</div>
					<p id="cart-card-total">Total: ${{cartTotal}}</p>
					<a href="/checkout" class="cart-button">Check Out</a>
					<a id="cart-close-button" class="cart-card-button">X</a>
				</div>
				{{else}}
				<div id="nav-elem-checkout">Your Cart is Empty

				<a id="cart-close-button" class="cart-card-button">X</a>
				</div>
				{{/if}}
				<svg class="nav-elem-svg nav-cart-svg" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 902.86 902.86" xml:space="preserve"
					transform="matrix(-1, 0, 0, 1, 0, 0)">
					<g id="SVGRepo_iconCarrier">
						<g>
							<g>
								<path
									d="M671.504,577.829l110.485-432.609H902.86v-68H729.174L703.128,179.2L0,178.697l74.753,399.129h596.751V577.829z M685.766,247.188l-67.077,262.64H131.199L81.928,246.756L685.766,247.188z">
								</path>
								<path
									d="M578.418,825.641c59.961,0,108.743-48.783,108.743-108.744s-48.782-108.742-108.743-108.742H168.717 c-59.961,0-108.744,48.781-108.744,108.742s48.782,108.744,108.744,108.744c59.962,0,108.743-48.783,108.743-108.744 c0-14.4-2.821-28.152-7.927-40.742h208.069c-5.107,12.59-7.928,26.342-7.928,40.742 C469.675,776.858,518.457,825.641,578.418,825.641z M209.46,716.897c0,22.467-18.277,40.744-40.743,40.744 c-22.466,0-40.744-18.277-40.744-40.744c0-22.465,18.277-40.742,40.744-40.742C191.183,676.155,209.46,694.432,209.46,716.897z M619.162,716.897c0,22.467-18.277,40.744-40.743,40.744s-40.743-18.277-40.743-40.744c0-22.465,18.277-40.742,40.743-40.742 S619.162,694.432,619.162,716.897z">
								</path>
							</g>
						</g>
					</g>
				</svg>
			</div>
		</div>
	</div>
	{{{body}}}
	<div id="bot-bar">
		{{title}}
	</div>
</body>
<script src="/public/js/main.js"></script>

</html>