<h3 class="admin-header">Admin Actions</h3>
<div id="actions" class="flex-parent-h-1">
	<div class="child2 admin-div">
		<h4 id="viewAll" class="admin-div-head">View All<br />Listings</h4>
	</div>
	<div class="child2 admin-div">
		<h4 id="viewLogs" class="admin-div-head">Audit<br />Logs</h4>
	</div>
	<div class="child2 admin-div">
		<h4 id="destroySession" class="admin-div-head">Destroy<br />Session</h4>
	</div>
	<div class="child2 admin-div">
		<h4 id="createItem" class="admin-div-head">Create<br />Item</h4>
	</div>
	<div class="child2 admin-div">
		<h4 id="createBundle" class="admin-div-head">Create<br />Bundle</h4>
	</div>
</div>
<h3 class="admin-header-2">Active Listings</h3>
<div id="activeListings" class="flex-parent-h-1">
	{{#each listedItems}}
	<div class="admin-item-card">
		<img src="{{img}}" alt="{{name}}" />
		<h2 class="admin-item-card-head">
			{{name}}
		</h2>
		<p>${{price}}</p>
		<button id="delete-{{_id}}" class="admin-item-card-button admin-item-card-button-left">Delete</button>
		<button id="edit-{{_id}}" class="admin-item-card-button">Edit</button>
		<button id="disable-{{_id}}" class="admin-item-card-button admin-item-card-button-right">Disable</button>

		<script>
			document.getElementById("disable-{{_id}}").addEventListener("click", (event) => {
				$.ajax({
					url: "/admin/disable/{{_id}}",
					method: "POST",
					credential: "same-origin",
					success: (data) => {
						try {
							refresh()
						} catch (e) {
							console.log(e)
						}
					},
					error: (obj, err, errT) => {
						console.log("Error: ", obj.responseText);
					},
				})
			})

			document.getElementById("delete-{{_id}}").addEventListener("click", (event) => {
				$.ajax({
					url: "/admin/delete/{{_id}}",
					method: "POST",
					credential: "same-origin",
					success: (data) => {
						try {
							refresh()
						} catch (e) {
							console.log(e)
						}
					},
					error: (obj, err, errT) => {
						console.log("Error: ", obj.responseText);
					},
				})
			})

			document.getElementById("edit-{{_id}}").addEventListener("click", (event) => {
				document.getElementById("admin-modal").style.display = "block";
				let form = document.createElement("form")

				form.innerHTML =`
				<label for="edit-item-name">Name</label>
				<input type="text" id="edit-item-name" name="edit-item-name" value="{{name}}" />
				<label for="edit-item-price">Price</label>
				<input type="number" step="0.01" name="edit-item-price" id="edit-item-price" value="{{price}}" />
				<input type="submit" value="Submit" />
				<label for="edit-item-desc">Description</label>
				<input type="text" id="edit-item-desc" name="edit-item-desc" value="{{description}}" />`
				

				document.getElementById("admin-modal-content").innerHTML = "";
				document.getElementById("admin-modal-content").appendChild(form);
				document.getElementById("admin-modal-header").innerHTML = "Edit {{name}}"

				form.addEventListener("submit", (event) => {
					event.preventDefault();

					const editName = document.getElementById("edit-item-name").value
					const editPrice = document.getElementById("edit-item-price").value
					const editDescription = document.getElementById("edit-item-desc").value

					$.ajax({
						url: "/admin/edititem/{{_id}}",
						method: "POST",
						data: { name: editName, price: editPrice, description: editDescription },
						credential: "same-origin",
						success: (data) => {
							try {
								refresh()
								document.getElementById("admin-modal").style.display = "none";
							} catch (e) {
								console.log(e)
							}
						},
						error: (obj, err, errT) => {
							console.log("Error: ", obj.responseText);
						},
					})
				})
			})
		</script>
	</div>
	{{/each}}
</div>
<h3 class="admin-header-2">Inactive Listings</h3>
<div id="inactiveListings" class="flex-parent-h-1">
	{{#each unlistedItems}}
	<div class="admin-item-card">
		<img src="{{img}}" alt="{{name}}" />
		<h2 class="admin-item-card-head">
			{{name}}
		</h2>
		<p>${{price}}</p>
		<button id="delete-{{_id}}" class="admin-item-card-button admin-item-card-button-left">Delete</button>
		<button id="edit-{{_id}}" class="admin-item-card-button">Edit</button>
		<button id="activate-{{_id}}" class="admin-item-card-button admin-item-card-button-right">Activate</button>

		<script>
			document.getElementById("activate-{{_id}}").addEventListener("click", (event) => {
				$.ajax({
					url: "/admin/activate/{{_id}}",
					method: "POST",
					credential: "same-origin",
					success: (data) => {
						refresh()
					},
					error: (obj, err, errT) => {
						console.log("Error: ", obj.responseText);
					},
				})
			})

			document.getElementById("delete-{{_id}}").addEventListener("click", (event) => {
				$.ajax({
					url: "/admin/delete/{{_id}}",
					method: "POST",
					credential: "same-origin",
					success: (data) => {
						try {
							refresh()
						} catch (e) {
							console.log(e)
						}
					},
					error: (obj, err, errT) => {
						console.log("Error: ", obj.responseText);
					},
				})
			})

			document.getElementById("edit-{{_id}}").addEventListener("click", (event) => {
				document.getElementById("admin-modal").style.display = "block";
				let form = document.createElement("form")

				form.innerHTML =`
				<label for="edit-item-name">Name</label>
				<input type="text" id="edit-item-name" name="edit-item-name" value="{{name}}" />
				<label for="edit-item-price">Price</label>
				<input type="number" step="0.01" name="edit-item-price" id="edit-item-price" value="{{price}}" />
				<input type="submit" value="Submit" />`

				document.getElementById("admin-modal-content").innerHTML = "";
				document.getElementById("admin-modal-content").appendChild(form);
				document.getElementById("admin-modal-header").innerHTML = "Edit {{name}}"

				form.addEventListener("submit", (event) => {
					event.preventDefault();

					const editName = document.getElementById("edit-item-name").value
					const editPrice = document.getElementById("edit-item-price").value

					$.ajax({
						url: "/admin/edititem/{{_id}}",
						method: "POST",
						data: { name: editName, price: editPrice },
						credential: "same-origin",
						success: (data) => {
							try {
								refresh()
								document.getElementById("admin-modal").style.display = "none";
							} catch (e) {
								console.log(e)
							}
						},
						error: (obj, err, errT) => {
							console.log("Error: ", obj.responseText);
						},
					})
				})
			})
		</script>
	</div>
	{{/each}}
</div>
<div id="bundles" class="flex-parent-h">
	<div class="flex-child2">
		<h3 class="admin-header-2">Active Bundles</h3>
		<div id="activeBundles" class="flex-parent-v-1">
			{{#each listedBundles}}
			<div class="bundle-card admin-bundle-card">
				<img src="{{img}}" alt="{{name}}" />
				<h2 class="bundle-card-head">
					{{name}}
				</h2>
				<div class="bundle-images">
					{{#each images}}
					<div class="bundleImgContainer">
						<img src="{{imgUrl}}" alt="{{imgName}}" />
						<div class="bundleImgQuantity">{{quantity}}</div>
					</div>
					{{/each}}
				</div>
				<p class="bundle-price">${{price}}</p>
				<p class="crossed-price">${{itemPriceTotal}}</p>
				<button id="deletebundle-{{_id}}" class="bundle-card-button bundle-card-button-left">Delete</button>
				<button id="editbundle-{{_id}}" class="bundle-card-button">Edit</button>
				<button id="disablebundle-{{_id}}" class="bundle-card-button bundle-card-button-right">Disable</button>

				<script>
							document.getElementById("disablebundle-{{_id}}").addEventListener("click", (event) => {
								$.ajax({
									url: "/admin/disablebundle/{{_id}}",
									method: "POST",
									credential: "same-origin",
									success: (data) => {
										refresh()
									},
									error: (obj, err, errT) => {
										console.log("Error: ", obj.responseText);
									},
								})
							})

							document.getElementById("deletebundle-{{_id}}").addEventListener("click", (event) => {
								$.ajax({
									url: "/admin/deletebundle/{{_id}}",
									method: "POST",
									credential: "same-origin",
									success: (data) => {
										try {
											refresh()
										} catch (e) {
											console.log(e)
										}
									},
									error: (obj, err, errT) => {
										console.log("Error: ", obj.responseText);
									},
								})
							})

							document.getElementById("editbundle-{{_id}}").addEventListener("click", (event) => {
								$.ajax({
									url: "/admin/getAllItems",
									method: "GET",
									credential: "same-origin",
									success: (data) => {
										try {
											document.getElementById("admin-modal").style.display = "block";
											let form = document.createElement("form")

											let itemsString = ""
											let groupItemsString = ""

											data.items.sort((a, b) => {
												return a.name.localeCompare(b.name)
											})
											let ids = []
											let quantities = []

											{{#each this.items}}
												ids.push("{{this.[0]}}")
												quantities.push("{{this.[1]}}")
											{{/each}}

											data.items.forEach((item) => {
												if (ids.includes(item._id)) {
													groupItemsString += `<div id="${item._id}" class="edit-item" draggable="true"><img src="${item.img}" /><p>${item.name}</p><label for="edit-${item._id}">Quantity</label><input id="edit-${item._id}" onkeydown="if(event.key==='.' || event.key==='e'){event.preventDefault();}" type="number" step="1" min="1" value="${quantities[ids.findIndex((i) => i == item._id)]}" name="edit-${item._id}" /></div>`
												}
												else {
													itemsString += `<div id="${item._id}" class="edit-item" draggable="true"><img src="${item.img}" /><p>${item.name}</p><label for="edit-${item._id}">Quantity</label><input id="edit-${item._id}" onkeydown="if(event.key==='.' || event.key==='e'){event.preventDefault();}" type="number" step="1" min="1" value="1" name="edit-${item._id}" /></div>`
												}
											})

											form.innerHTML = `
										<label for="edit-bundle-name">Name</label>
										<input type="text" id="edit-bundle-name" name="edit-bundle-name" value="{{name}}" />
										<label for="edit-bundle-price">Price</label>
										<input type="number" step="0.01" name="edit-bundle-price" id="edit-bundle-price" value="{{price}}" />
										<div class="edit-flex">
										<div class="edit-col">
											<h3 class="edit-header">Items</h3>
											<div id="edit-group1" droppable="true">
												${itemsString}
											</div>
										</div>
										<div class="edit-col">
											<h3 class="edit-header">{{name}}</h3>
											<div id="edit-group2" droppable="true">${groupItemsString}</div>
										</div>
										</div>
										<input type="submit" value="Submit">`
											document.getElementById("admin-modal-content").innerHTML = "";
											document.getElementById("admin-modal-content").appendChild(form);
											document.getElementById("admin-modal-header").innerHTML = "Edit {{name}}"

											const items = document.querySelectorAll(".edit-item")
											const itemList1 = document.getElementById("edit-group1")
											const itemList2 = document.getElementById("edit-group2")

											items.forEach((item) => {
												item.addEventListener('dragstart', (event) => {
													event.dataTransfer.setData('text/plain', event.target.id)
												})
											})

											itemList2.addEventListener('dragover', (event) => {
												event.preventDefault();
											})

											itemList2.addEventListener('drop', (event) => {
												event.preventDefault();
												const itemId = event.dataTransfer.getData('text/plain');
												const newItem = document.getElementById(itemId);
												itemList2.appendChild(newItem);
											})

											itemList1.addEventListener('dragover', (event) => {
												event.preventDefault();
											})

											itemList1.addEventListener('drop', (event) => {
												event.preventDefault();
												const itemId = event.dataTransfer.getData('text/plain');
												const newItem = document.getElementById(itemId);
												itemList1.appendChild(newItem);
											})

											form.addEventListener("submit", (event) => {
												event.preventDefault();

												const bundleItems = itemList2.querySelectorAll(".edit-item")
												let ids = Array.from(bundleItems).map((item) => {
													let quantityInput = item.querySelector('input')
													let quantity = parseInt(quantityInput.value)
													return [item.id, quantity]
												})
												const editName = document.getElementById("edit-bundle-name").value
												const editPrice = document.getElementById("edit-bundle-price").value

												$.ajax({
													url: "/admin/editbundleitems/{{_id}}",
													method: "POST",
													data: { ids, name: editName, price: editPrice },
													credential: "same-origin",
													success: (data) => {
														try {
															refresh()
															document.getElementById("admin-modal").style.display = "none";
														} catch (e) {
															console.log(e)
														}
													},
													error: (obj, err, errT) => {
														console.log("Error: ", obj.responseText);
													},
												})
											})
										} catch (e) {
											console.log(e)
										}
									},
									error: (obj, err, errT) => {
										console.log("Error: ", obj.responseText);
									},
								})


							})
				</script>
			</div>
			{{/each}}
		</div>
	</div>
	<div class="flex-child2">
		<h3 class="admin-header-2">Inactive Bundles</h3>
		<div id="inactiveBundles" class="flex-parent-v-1">
			{{#each unlistedBundles}}
			<div class="bundle-card admin-bundle-card">
				<img src="{{img}}" alt="{{name}}" />
				<h2 class="bundle-card-head">
					{{name}}
				</h2>
				<div class="bundle-images">
					{{#each images}}
					<div class="bundleImgContainer">
						<img src="{{imgUrl}}" alt="{{imgName}}" />
						<div class="bundleImgQuantity">{{quantity}}</div>
					</div>
					{{/each}}
				</div>
				<p class="bundle-price">${{price}}</p>
				<p class="crossed-price">${{itemPriceTotal}}</p>
				<button id="deletebundle-{{_id}}" class="bundle-card-button bundle-card-button-left">Delete</button>
				<button id="editbundle-{{_id}}" class="bundle-card-button">Edit</button>
				<button id="activatebundle-{{_id}}"
					class="bundle-card-button bundle-card-button-right">Activate</button>

				<script>
							document.getElementById("activatebundle-{{_id}}").addEventListener("click", (event) => {
								$.ajax({
									url: "/admin/activatebundle/{{_id}}",
									method: "POST",
									credential: "same-origin",
									success: (data) => {
										refresh()
									},
									error: (obj, err, errT) => {
										console.log("Error: ", obj.responseText);
									},
								})
							})

							document.getElementById("deletebundle-{{_id}}").addEventListener("click", (event) => {
								$.ajax({
									url: "/admin/deletebundle/{{_id}}",
									method: "POST",
									credential: "same-origin",
									success: (data) => {
										try {
											refresh()
										} catch (e) {
											console.log(e)
										}
									},
									error: (obj, err, errT) => {
										console.log("Error: ", obj.responseText);
									},
								})
							})
							document.getElementById("editbundle-{{_id}}").addEventListener("click", (event) => {
								$.ajax({
									url: "/admin/getAllItems",
									method: "GET",
									credential: "same-origin",
									success: (data) => {
										try {
											document.getElementById("admin-modal").style.display = "block";
											let form = document.createElement("form")

											let itemsString = ""
											let groupItemsString = ""

											data.items.sort((a, b) => {
												return a.name.localeCompare(b.name)
											})

											let ids = []
											let quantities = []

											{{#each this.items}}
												ids.push("{{this.[0]}}")
												quantities.push("{{this.[1]}}")
											{{/each}}

											data.items.forEach((item) => {
												if (ids.includes(item._id)) {
													groupItemsString += `<div id="${item._id}" class="edit-item" draggable="true"><img src="${item.img}" /><p>${item.name}</p><label for="edit-${item._id}">Quantity</label><input id="edit-${item._id}" onkeydown="if(event.key==='.' || event.key==='e'){event.preventDefault();}" type="number" step="1" min="1" value="${quantities[ids.findIndex((i) => i == item._id)]}" name="edit-${item._id}" /></div>`
												}
												else {
													itemsString += `<div id="${item._id}" class="edit-item" draggable="true"><img src="${item.img}" /><p>${item.name}</p><label for="edit-${item._id}">Quantity</label><input id="edit-${item._id}" onkeydown="if(event.key==='.' || event.key==='e'){event.preventDefault();}" type="number" step="1" min="1" value="1" name="edit-${item._id}" /></div>`
												}
											})

											form.innerHTML = `
										<label for="edit-bundle-name">Name</label>
										<input type="text" id="edit-bundle-name" name="edit-bundle-name" value="{{name}}" />
										<label for="edit-bundle-price">Price</label>
										<input type="number" step="0.01" name="edit-bundle-price" id="edit-bundle-price" value="{{price}}" />
										<div class="edit-flex">
										<div class="edit-col">
											<h3 class="edit-header">Items</h3>
											<div id="edit-group1" droppable="true">
												${itemsString}
											</div>
										</div>
										<div class="edit-col">
											<h3 class="edit-header">{{name}}</h3>
											<div id="edit-group2" droppable="true">
												${groupItemsString}
											</div>
										</div>
										</div>
										<input type="submit" value="Submit">`
											document.getElementById("admin-modal-content").innerHTML = "";
											document.getElementById("admin-modal-content").appendChild(form);
											document.getElementById("admin-modal-header").innerHTML = "Edit {{name}}"

											const items = document.querySelectorAll(".edit-item")
											const itemList1 = document.getElementById("edit-group1")
											const itemList2 = document.getElementById("edit-group2")

											items.forEach((item) => {
												item.addEventListener('dragstart', (event) => {
													event.dataTransfer.setData('text/plain', event.target.id)
												})
											})

											itemList2.addEventListener('dragover', (event) => {
												event.preventDefault();
											})

											itemList2.addEventListener('drop', (event) => {
												event.preventDefault();
												const itemId = event.dataTransfer.getData('text/plain');
												const newItem = document.getElementById(itemId);
												itemList2.appendChild(newItem);
											})

											itemList1.addEventListener('dragover', (event) => {
												event.preventDefault();
											})

											itemList1.addEventListener('drop', (event) => {
												event.preventDefault();
												const itemId = event.dataTransfer.getData('text/plain');
												const newItem = document.getElementById(itemId);
												itemList1.appendChild(newItem);
											})

											form.addEventListener("submit", (event) => {
												event.preventDefault();

												const bundleItems = itemList2.querySelectorAll(".edit-item")
												let ids = Array.from(bundleItems).map((item) => {
													let quantityInput = item.querySelector('input')
													let quantity = parseInt(quantityInput.value)
													return [item.id, quantity]
												})
												const editName = document.getElementById("edit-bundle-name").value
												const editPrice = document.getElementById("edit-bundle-price").value

												$.ajax({
													url: "/admin/editbundleitems/{{_id}}",
													method: "POST",
													data: { ids, name: editName, price: editPrice },
													credential: "same-origin",
													success: (data) => {
														try {
															refresh()
															document.getElementById("admin-modal").style.display = "none";
														} catch (e) {
															console.log(e)
														}
													},
													error: (obj, err, errT) => {
														console.log("Error: ", obj.responseText);
													},
												})
											})

										} catch (e) {
											console.log(e)
										}
									},
									error: (obj, err, errT) => {
										console.log("Error: ", obj.responseText);
									},
								})


							})
				</script>
			</div>
			{{/each}}
		</div>
	</div>
</div>

<h3 class="admin-header-2">Session Cart</h3>
<div id="sessionCart" class="flex-parent-v-2">
	{{#each cartItems}}
	<div class="admin-cart-card">
		<img src="{{img}}" alt="{{name}}" />
		<h2 class="admin-item-card-head">
			{{name}}
		</h2>
		<p>${{price}} x {{quantity}}</p>
	</div>
	{{/each}}
</div>
<p id="admin-totalCart">
	Total: ${{cartTotal}}
</p>

<div id="admin-modal" class="admin-modal">
	<div class="admin-modal-content">
		<span class="close">&times;</span>
		<h1 id="admin-modal-header"></h1>
		<div id="admin-modal-content">

		</div>
	</div>
</div>

<script src="/public/js/admin.js"></script>