<main>
    {{#if cartExist}}
        <div class="checkout-flex">
            <h1 class="checkout-cart-header">Your Cart</h1>
            {{#each cartItems}}
            <div class="checkout-item">
                <img class="checkout-item-img" src="{{img}}" alt="{{name}}"/>
                <p class="checkout-item-name">{{name}}</p>
                <p class="checkout-item-price">${{price}} x {{quantity}}</p>
            </div>
            {{/each}}
        </div>
        <div class="checkout-flex">
            <h1 class="checkout-cart-header">Shipping Address</h1>
            <form class="checkout-form">
                <label for="checkout-fname">First Name</label>
                <input type="text" name="checkout-fname" id="checkout-fname"/>
                <br>
                <label for="checkout-lname">Last Name</label>
                <input type="text" name="checkout-lname" id="checkout-lname"/>
                <br>
                <label for="checkout-add1">Address Line 1</label>
                <input type="text" name="checkout-add1" id="checkout-add1"/>
                <br>
                <label for="checkout-add2">Address Line 2</label>
                <input type="text" name="checkout-add2" id="checkout-add2"/>
                <br>
                <label for="checkout-city">City</label>
                <input type="text" name="checkout-city" id="checkout-city"/>
                <br>
                <label for="checkout-zip">Zip</label>
                <input type="text" name="checkout-zip" id="checkout-zip"/>
            </form>
        </div>
        <div class="checkout-flex">
            <h1 class="checkout-cart-header">Payment Information</h1>
            <form class="checkout-form">
                <label for="checkout-cardnumber">Card Number</label>
                <input type="text" name="checkout-cardnumber" id="checkout-cardnumber"/>
                <br>
                <label for="checkout-expiry">Expiration Date</label>
                <input type="text" name="checkout-expiry" id="checkout-expiry"/>
                <br>
                <label for="checkout-cvv">CVV</label>
                <input type="text" name="checkout-cvv" id="checkout-cvv"/>
            </form>
        </div>
        <div class="checkout-flex">
            <h1 class="checkout-cart-header">Order Summary</h1>
            <p class="checkout-summary-item">Subtotal: ${{cartTotal}}</p>
            <p class="checkout-summary-item">Shipping: ${{cartShipping}}</p>
            <p class="checkout-summary-item">Tax: ${{cartTax}}</p>
            <p class="checkout-summary-item">Total: ${{cartFinal}}</p>
        </div>
        <button id="orderButton">Place Order</button>
    {{else}}
    <div class="checkout-flex">Your Cart is Empty</div>
    {{/if}}
</main>