<main>
    <div class="flex-parent-h">
        <div class="flex-child3">
            <h2 class="flex-head">Shop Now</h2>
            <div class="scroll-div">
                <div class="flex-parent-2">
                    {{#each shopItems}}
                    <div class="item-card">
                        <img src="{{img}}" alt="{{name}}" />
                        <h2 class="item-card-head">
                            {{name}}
                        </h2>
                        <p>${{price}}</p>
                        <button class="item-card-details">Details</button>
                        <button id="addToCart-{{_id}}" class="item-card-cart">Add to Cart</button>

                        <script>
                            document.getElementById("addToCart-{{_id}}").addEventListener("click", (event) => {
                                $.ajax({
                                    url: "/items/addToCart/{{_id}}",
                                    method: "POST",
                                    credential: "same-origin",
                                    success: (data) => {
                                        try {
                                            document.getElementById("addToCart-{{_id}}").innerHTML = `Added - ${data.quantity}`
                                            setTimeout(()=>{document.getElementById("addToCart-{{_id}}").innerHTML = `Add to Cart`}, 3000)
                                            refresh2()
                                        } catch (e) {
                                            console.log(e)
                                        }
                                    },
                                    error: (obj, err, errT) => {
                                        console.log("Error: ", obj.responseText);
                                    },
                                })
                            })
                        </script>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="flex-child3">
            <h2 class="flex-head">Check Out Our Bundles</h2>
            <div class="scroll-div">
            </div>
        </div>
        {{!-- {{#if cartOn}}
        <div class="flex-child2">
            <h2 class="flex-head">Your Cart</h2>
            <div class="scroll-div"></div>
        </div>
        {{/if}} --}}
    </div>
</main>