<main>
    <div class="flex-parent-h">
        <div class="flex-child3">
            <h2 class="flex-head">Shop Now</h2>
            <div class="scroll-div">
                <div class="flex-parent-2">
                    {{#each shopBundles}}
                    <div class="item-card">
                        <img src="{{img}}" alt="{{name}}" />
                        <h2 class="item-card-head">
                            {{name}}
                        </h2>
                        <p>${{price}}</p>
                        <button id="details-{{_id}}" class="item-card-details">Details</button>
                        <button id="addToCart-{{_id}}" class="item-card-cart">Add to Cart</button>

                        <script>
                            document.getElementById("addToCart-{{_id}}").addEventListener("click", (event) => {
                                event.preventDefault()
                                $.ajax({
                                    url: "/bundles/addToCart/{{_id}}",
                                    method: "POST",
                                    credential: "same-origin",
                                    success: (data) => {
                                        try {
                                            document.getElementById("addToCart-{{_id}}").innerHTML = `Added - ${data.quantity}`
                                            setTimeout(()=>{document.getElementById("addToCart-{{_id}}").innerHTML = `Add to Cart`}, 3000)
                                            refresh2()
                                        } catch (e) {
                                            console.log(e)
                                        }
                                    },
                                    error: (obj, err, errT) => {
                                        console.log("Error: ", obj.responseText);
                                    },
                                })
                            })

                            document.getElementById("details-{{_id}}").addEventListener("click", (event) => {
                                document.getElementById("modal").style.display = "block";
                                let detailDiv = document.createElement("div")
                                detailDiv.classList.add("flex-parent-h2")
                                detailDiv.innerHTML = detailDiv.innerHTML = `
                                    <img class="details-img" src="{{img}}" alt="{{name}}">
                                    <div>
                                        <div class="details-bundle-contents">
                                            <p>Bundle Contents: </p>
                                            {{#each images}}
                                            <div class="details-bundle-item">
                                                <img class="details-bundle-item-image" src="{{imgUrl}} alt="{{imgName}}"/>
                                                <p class="details-bundle-item-name">{{imgName}} x {{quantity}}</p>
                                            </div>
                                            {{/each}}
                                        </div>
                                        <p class="details-price">Price: ${{price}}</p>
                                        <p class="details-description">Description would go here</p>
                                        <button id="addToCart2-{{_id}}" class="details-cart">Add to Cart</button>
                                    </div>
                                `;

                                document.getElementById("modal-content").innerHTML = "";
				                document.getElementById("modal-content").appendChild(detailDiv);
				                document.getElementById("modal-header").innerHTML = "{{name}}"

                                document.getElementById("addToCart2-{{_id}}").addEventListener("click", (event) => {
                                    event.preventDefault()
                                    $.ajax({
                                        url: "/bundles/addToCart/{{_id}}",
                                        method: "POST",
                                        credential: "same-origin",
                                        success: (data) => {
                                            try {
                                                document.getElementById("addToCart2-{{_id}}").innerHTML = `Added - ${data.quantity}`
                                                setTimeout(()=>{document.getElementById("addToCart2-{{_id}}").innerHTML = `Add to Cart`}, 3000)
                                                refresh2()
                                            } catch (e) {
                                                console.log(e)
                                            }
                                        },
                                        error: (obj, err, errT) => {
                                            console.log("Error: ", obj.responseText);
                                        },
                                    })
                                })
                            })
                        </script>
                    </div>
                    {{/each}}
                    {{#each shopItems}}
                    <div class="item-card">
                        <img src="{{img}}" alt="{{name}}" />
                        <h2 class="item-card-head">
                            {{name}}
                        </h2>
                        <p>${{price}}</p>
                        <button id="details-{{_id}}" class="item-card-details">Details</button>
                        <button id="addToCart-{{_id}}" class="item-card-cart">Add to Cart</button>

                        <script>
                            document.getElementById("addToCart-{{_id}}").addEventListener("click", (event) => {
                                event.preventDefault()
                                $.ajax({
                                    url: "/items/addToCart/{{_id}}",
                                    method: "POST",
                                    credential: "same-origin",
                                    success: (data) => {
                                        try {
                                            document.getElementById("addToCart-{{_id}}").innerHTML = `Added - ${data.quantity}`
                                            setTimeout(()=>{document.getElementById("addToCart-{{_id}}").innerHTML = `Add to Cart`}, 3000)
                                            refresh2()
                                        } catch (e) {
                                            console.log(e)
                                        }
                                    },
                                    error: (obj, err, errT) => {
                                        console.log("Error: ", obj.responseText);
                                    },
                                })
                            })

                            document.getElementById("details-{{_id}}").addEventListener("click", (event) => {
                                document.getElementById("modal").style.display = "block";
                                let detailDiv = document.createElement("div")
                                detailDiv.classList.add("flex-parent-h2")
                                detailDiv.innerHTML = detailDiv.innerHTML = `
                                    <img class="details-img" src="{{img}}" alt="{{name}}">
                                    <div>
                                        <p class="details-price">Price: ${{price}}</p>
                                        <p class="details-description">Description would go here</p>
                                        <button id="addToCart2-{{_id}}" class="details-cart">Add to Cart</button>
                                    </div>
                                `;

                                document.getElementById("modal-content").innerHTML = "";
				                document.getElementById("modal-content").appendChild(detailDiv);
				                document.getElementById("modal-header").innerHTML = "{{name}}"

                                document.getElementById("addToCart2-{{_id}}").addEventListener("click", (event) => {
                                    event.preventDefault()
                                    $.ajax({
                                        url: "/items/addToCart/{{_id}}",
                                        method: "POST",
                                        credential: "same-origin",
                                        success: (data) => {
                                            try {
                                                document.getElementById("addToCart2-{{_id}}").innerHTML = `Added - ${data.quantity}`
                                                setTimeout(()=>{document.getElementById("addToCart2-{{_id}}").innerHTML = `Add to Cart`}, 3000)
                                                refresh2()
                                            } catch (e) {
                                                console.log(e)
                                            }
                                        },
                                        error: (obj, err, errT) => {
                                            console.log("Error: ", obj.responseText);
                                        },
                                    })
                                })
                            })
                        </script>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h1 id="modal-header"></h1>
            <div id="modal-content">
        </div>
	</div>
</div>
<script src="/public/js/home.js"></script>
</main>